<<<<<<< Local Changes
<<<<<<< Local Changes

=======
/*
@font-face
{
	font-family:"hi";
	src:url("hi.otf");
}
*/

body{
	font-family:思源黑体;
}
>>>>>>> External Changes
#cover
{
	position:absolute;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0;
}

#set_font_size
{
	position:absolute;
	font-family:'思源黑体';
	width:100%;
	left:0;
}

#share_prompt
{
	position:fixed;
	right:0%;
	top:0%;
	width:80%;
	display:none;
}

#partA  
{
	width:100%;
	position:absolute;
	filter:alpha(opacity = 10);
}

#partB
{
	width:100%;
	left:0%;
	position:absolute;
}
#partC
{
	width:100%;
	position:absolute;
}

#partD
{
	position:absolute;
	font-size:1em;
	right:0%;
	left:0;
	background-color:#1A1E22;
}

#partE
{
	position:fixed;
	left:0%;
	width:100%;
	bottom:0;
	font-size:1em;
	display:none;
}

=======
>>>>>>> External Changes
