body{
	color: #ffffff;
	font-family: 微软雅黑;
	z-index: 0;
}

#cover{
	position: fixed;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 4;
}

#footer{
	position: fixed;
	display: none;
	width: 100%;
	bottom: 0px;
	overflow:hidden;
	z-index: 3;
}

#video{
	position: fixed;
	width: 100%;
	top: 20%;
	display : none;
	z-index: 5;
}


#blank{
	position: absolute;
	width: 100%;
}



.image{
	position: absolute;
	width: 100%;
	
}

.normal_words{
	position: absolute;
	text-align: center;
	width: 84%;
	left: 8%;
	color: RGB(181, 181, 181);
}



#page6_word{
	position: absolute;
	text-align: center;
	width: 80%;
	left: 10%;
	color: RGB(181, 181, 181);
}

#page8_hint{
	position: absolute;
	text-align: center;
	width: 80%;
	left: 10%;
	color: RGB(70, 70, 70);
}

.page{
	position: relative;
	width: 100%;
}

.button{
	position: absolute;
	width : 41%;
	bottom : 4%;
	z-index: 3;
}

.title{
	position: absolute;
	width: 100%;
	text-align: center;
	color: #cccccc;
}

.subtitle{
	position: absolute;
	width: 40%;
	color: #666666;
	text-align: left;
}

.compare_words{
	position: absolute;
	color: RGB(137, 137, 137);
	text-align: left;
}

.division_words{
	position: absolute;
	width: 18%;
	color: RGB(137, 137, 137);
	text-align: left;
}

.page8_words{
	position: absolute;
	width: 18%;
	color: RGB(200, 200, 200);
	text-align: left;
	left: 69%;
}

