@font-face
{
	font-family:"hi", 微软雅黑;
	src:url("hi.otf");
}
#cover
{
	position:absolute;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0;
}

#set_font_size
{
	position:absolute;
	font-family:hi;
	width:100%;
	left:0;
}

#share_prompt
{
	position:fixed;
	right:0%;
	top:0%;
	width:80%;
	display:none;
}

#partA  
{
	width:100%;
	position:absolute;
	filter:alpha(opacity = 10);
}

#partB
{
	width:100%;
	left:0%;
	position:absolute;
}
#partC
{
	width:100%;
	position:absolute;
}

#partD
{
	background-color:#1A1E22;
	position:absolute;
	font-size:1em;
	right:0%;
	left:0;
}

#partE
{
	position:fixed;
	left:0%;
	width:100%;
	bottom:0;
	font-size:1em;
	display:none;
}

