#chart_average
{
	position:absolute;
	left:45%;
	top:5%;
	font-size:0.4em;
	color:#999999;
}
#chart_time
{
	position:absolute;
	right:6.25%;
	top:5%;
	font-size:0.4em;
	color:#999999;
}
#chart
{
	position:absolute;
	width:78.75%;
	height:75%;
	left:15%;
	top:15%;
}

#time_line
{
	position:absolute;
	width:100%;
	left:-3%;
	top:100%;
	color:#999999;
}
#time_line1
{
	position:absolute;
	left:24%;
	top:0%;
}
#time_line2
{
	position:absolute;
	left:48%;
	top:0;
}
#time_line3
{
	position:absolute;
	left:72%;
	top:0;
}
#time_line4
{
	position:absolute;
	left:98%;
	top:0;
}
#amount_line1
{
	position:absolute;
	right:102%;
	top:78.35%;
	color:#999999;
	opacity:0.8;
}
#amount_line2
{
	position:absolute;
	right:102%;
	top:61.68%;
	color:#999999;
	opacity:0.8;
}
#amount_line3
{
	position:absolute;
	right:102%;
	top:45.01%;
	color:#999999;
	opacity:0.8;
}
#amount_line4
{
	position:absolute;
	right:102%;
	top:28.34%;
	color:#999999;
	opacity:0.8;
}
#amount_line5
{
	position:absolute;
	right:102%;
	top:11.67%;
	color:#999999;
	opacity:0.8;
}
#amount_line6
{
	position:absolute;
	right:102%;
	top:-5%;
	color:#999999;
	opacity:0.8;
}
#amount_dividing1
{
	position:absolute;
	right:0%;
	width:105%;
	top:83.35%;
	color:#393f3d;
	opacity:0.1;
}
#amount_dividing2
{
	position:absolute;
	right:0%;
	width:105%;
	top:66.68%;
	color:#393f3d;
	opacity:0.1;
}
#amount_dividing3
{
	position:absolute;
	right:0%;
	width:105%;
	top:50.01%;
	color:#393f3d;
	opacity:0.1;
}
#amount_dividing4
{
	position:absolute;
	right:0%;
	width:105%;
	top:33.34%;
	color:#393f3d;
	opacity:0.1;
}
#amount_dividing5
{
	position:absolute;
	right:0%;
	width:105%;
	top:16.67%;
	color:#393f3d;
	opacity:0.1;
}
#amount_dividing6
{
	position:absolute;
	right:0%;
	width:105%;
	top:0%;
	color:#393f3d;
	opacity:0.1;
}
#BC_dividing
{
	position:absolute;
	left:0%;
	width:100%;
	top:110%;
	color:#393f3d;
	border:1px solid;
	opacity:0.4;
}
.pillar
{
	position:absolute;
	bottom:0;
}