body{
    background-color: #bbbbbb;
	font-family:"Microsoft YaHei";
	width: 100%;
	height: 100%;
  	overflow:hidden;
	font-size: 4vw;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.background{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-size: cover; 
  z-index: 1;
  overflow:hidden;
}

#myphoto{
	position: absolute;
	top: 25vw;
	left: 6vw;
	width: 30%;
	height: 30vw;
	overflow: hidden;
}

#small{
	position: absolute;
	height: 30vw;
}

#detaillist{
	position: absolute;
	width: 90%;
	left: 5%;
	top: 18vw;
}

.button{
	margin:2%;
	width: 18%;
}

.bkbubble.right p:before, .bkbubble.left p:before {
   width: 0;
   position: absolute;
   top: 12px;
   border-style: solid;
   content: "";
 }
 .bkbubble.left {
     text-align: right;
 }
.bkbubble.right p:before {
   left: -12px;
   border-color: transparent #00bfff;
   border-width: 0 12px 12px 0;
}
.bkbubble.left p:before {
    right: -12px;
   border-color: transparent #00bfff;
   border-width: 0 0 12px 12px ;
}

.dialbutton{
	width: 16vw;
	height: 16vw;
	border-radius: 16vw;
	text-align: center;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 3vw;
	font-size: 8vw;
	line-height: 18vw;
	background-color: #bbbbbb;
	float: left;
}

.window{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	z-index: 3;
	display: none;
}

.messagediv{
	width: 100%;
	height :20vw;
	border-bottom: 1px solid #bbbbbb;
}

.recentdiv{
	width: 90%;
	margin-left: 5%;
	height :16vw;
	border-bottom: 1px solid #bbbbbb;
}

.recentdatediv{
	position: relative;
	float: right;
	width: 40%;
	top: 6vw;
	font-size: 3.5vw;
	line-height: 4vw;
	text-align: right;
	text-indent: 4vw;
	height: 5vw;
	color: #888888;
}

.recentnumberdiv{
	position: relative;
	float: left;
	width: 40%;
	top: 6vw;
	font-size: 4.2vw;
	line-height: 4vw;
	text-align: left;
	height: 5vw;
	font-weight: bold;
}


.datediv{
	position: relative;
	float: right;
	width: 40%;
	right: 4vw;
	top: 1vw;
	font-size: 3.5vw;
	line-height: 4vw;
	text-align: right;
	text-indent: 4vw;
	height: 5vw;
	color: #888888;
}

.numberdiv{
	float: left;
	width: 60%;
	top: 4vw;
	text-indent: 10%;
	font-size: 4vw;
	font-weight: bold;
}

.contentdiv{
	text-indent: 10%;
	float: left;
	width: 100%;
}

.callbaritem{
	width: 20%;
	margin-left: 6%;
	margin-right: 6%;
}

.addrdiv{
	width: 90%;
	margin-left: 5%;
	height :15vw;
	border-bottom: 1px solid #bbbbbb;
}

.namediv{
	line-height: 15vw;
}

#addresslist{
	position: absolute;
	width: 100%;
	top: 24vw;
	overflow-y: scroll;
}

#callbar{
	position: absolute;
	width: 100%;
	bottom:12vw;
	background-color: #efefef;
}

#recentlist{
	position: absolute;
	width: 100%;
	top: 24vw;
	overflow-y: scroll;
}

#messagelist{
	position: absolute;
	width: 100%;
	top: 24vw;
	overflow-y: scroll;
}

#number{
	position: absolute;
	width: 100%;
	top: 14vw;
	text-align:center;
	font-size: 8vw;
}

#table{
	position: absolute;
	width: 70%;
	height: 60vw;
	left: 17%;
	bottom: 64vw;
}

#topbar{
	position: absolute;
	z-index:10;
	width: 100%;
	top: 0.4%;
}

#cellsign{
	position: absolute;
	width: 9%;
	height: 4vw;
	top: 0.45vh;
	right: 1.8vw;
}

#signal{
	position: absolute;
	width: 5%;
	top: 0.45vh;
	left: 20.4%;
}

#time{
	position: absolute;
	width: 100%;
	text-align:center;
	font-weight: 900;
}

#service{
	position: absolute;
	width: 97%;
	text-align:left;
	left: 3%;
}

#cell{
	position: absolute;
	width: 100%;
	right: 11%;
	text-align:right;
}


#bottombar{
	position: absolute;
	width: 100%;
	height: 15vw;
	bottom: 18vw;
	text-align:center;

	z-index:2;
}

#buttonbar{
	position: absolute;
	width: 100%;
	height: 12vw;
	bottom: 0;
	text-align:center;
	border-top: 1px solid #666666;
	background-color:#ffffff;
	z-index:5;
}

#home{
	position: absolute;
	width: 20%;
	border-radius: 1.5vw;
	left: 40%;
	top: 3vw;
	height: 6vw;
	border: 2px solid #666666;
}

#call{
	position: absolute;
	width: 25%;
	left: 37%;
	bottom: 25vw;
}

.mback{
	position: absolute;
	width: 8%;
	top: 8vw;
	z-index: 100;
}

#delete{
	position: absolute;
	width: 19%;
	right: 20%;
	bottom: 26vw;
	display: none;
}

#myhome{
	position: absolute;
	width: 30%;
	border-radius: 1.5vw;
	left: 35%;
	top: 0vw;
	height: 12vw;
}

.mname{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 5vw;
	font-size: 8vw;
	border-bottom: 1px solid #bbbbbb;
}

#userphone2{
	position: absolute;
	width: 80%;
	text-align: left;
	left: 10%;
	top: 40vw;
	font-size: 4vw;
}

#userphone{
	position: absolute;
	width: 80%;
	text-align: left;
	left: 10%;
	top: 25vw;
	font-size: 4vw;
}

#messagetitle{
	position: absolute;
	width: 100%;
	height: 14vw;
	top: 10vw;
	font-size: 8vw;
	border-bottom: 1px solid #666666;
}

#callhint{
	position: absolute;
	top: 30vw;
	left: 30vw;
	font-size: 6vw;
	color:#ffffff;
}

#phototitle{
	position: absolute;
	width: 100%;
	height: 9vw;
	top: 10vw;
	font-size: 4vw;
	text-align: center;
	border-bottom: 1px solid #666666;
}

