
body {;
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 50%;
	margin: 0px;
	padding:0px;
	color: #ffffff;
	-moz-user-select: none;
	-webkit-user-select: none; 
}



/*
@media screen and (orientation: portrait) {
*/

#curve{
	position: absolute;
	width: 90%;
	left: 5%;
	height:1px;
	background-color: #cfcfcf;
	z-index :2048;
}


#search{
	position:absolute;
	width: 100%;
	background-color: #e6e6e6;
}

#search_input{
	position:absolute;
	border : 0px;
}

#type_list{
	position:absolute;
	font-size: 2em;
	border : 1px solid #cccccc;
	background-color: #eeeeee;
	padding : -1px;
	text-align：center;
}

.type_div{
	position: relative;
	background-color: #eeeeee;
	padding : -1px;
}

.type_name{
	position: absolute;
}

.line{
	position: absolute;
	background-color: #eeeeee;
	width : 1px;
}

.line2{
	position: absolute;
	background-color: #eeeeee;
	height : 1px;
}


#sort_index{
	position: absolute;
	background-color: #dddddd;
	text-align: center;
	font-size: 1.7em;
	color: #000000;
}

#type_name{
	position: absolute;
	background-color: #bfbfbf;
	text-align: left;
	color: #000000;
}


#ordered{
	position: absolute;
	background-color: #666666;
	text-align: left;
	color: #000000;
}


#order_go{
	position: absolute;
	background-color: #bfbfbf;
	text-align: center;
	color: #000000;
}



#dish_list{
	position: absolute;
	text-align: center;
	color: #000000;
	overflow: scroll;
}


.dish_div{
	position: absolute;
}

.dish_name{
	position: absolute;
	font-size: 2em;
}


.dish_dollar{
	position: absolute;
	font-weight: medium;
	font-size: 2em;
	color: #ff3300;
}



.dish_price{
	position: absolute;
	font-weight: medium;
	font-size: 2.4em;
	color: #ff3300;
}


.dish_image{
	position: absolute;
	text-align: center;
	color: #000000;
	overflow: scroll;
	border: thin solid #666666;
}