#chart_average
{
	position:absolute;
	left:45%;
	bottom:85%;
	font-size:1em;
	color:#989898;
}
#chart_time
{
	position:absolute;
	right:6.25%;
	bottom:85%;
	font-size:1em;
	color:#989898;
}
#pillar
{
	position:absolute;
	left:100%;
	bottom:0;
}
#chart
{
	position:absolute;
	width:88.6%;
	height:75%;
	left:5.15%;
	top:15%;
}
#time_line
{
	position:absolute;
	width:100%;
	left:0%;
	height:10%;
	top:102%;
	color:#989898;
}
#time_line0
{
	position:absolute;
	right:100%;
	top:0%;
	text-align:center;
}
#time_line1
{
	position:absolute;
	left:24%;
	top:0%;
	text-align:center;
}
#time_line2
{
	position:absolute;
	left:48%;
	top:0;
	text-align:center;
}
#time_line3
{
	position:absolute;
	left:72%;
	top:0;
	text-align:center;
}
#time_line4
{
	position:absolute;
	left:98%;
	top:0;
	text-align:center;
}
#amount_line
{
	position:absolute;
	left:0%;
	height:100%;
	color:#989898;
}
#amount_line1
{
	position:absolute;
	right:0%;
	top:83.35%;
	color:#989898;
}
#amount_line2
{
	position:absolute;
	left:0%;
	top:66.68%;
	color:#989898;
}
#amount_line3
{
	position:absolute;
	left:0%;
	top:50.01%;
	color:#989898;
}
#amount_line4
{
	position:absolute;
	left:0%;
	top:33.34%;
	color:#989898;
}
#amount_line5
{
	position:absolute;
	left:0%;
	top:16.67%;
	color:#989898;
}
#amount_dividing1
{
	position:absolute;
	right:0%;
	width:100%;
	top:83.35%;
	color:#393f3d;
	opacity:0.1;
}
#amount_dividing2
{
	position:absolute;
	right:0%;
	width:100%;
	top:66.68%;
	color:#393f3d;
	opacity:0.1;
}
#amount_dividing3
{
	position:absolute;
	right:0%;
	width:100%;
	top:50.01%;
	color:#393f3d;
	opacity:0.1;
}
#amount_dividing4
{
	position:absolute;
	right:0%;
	width:100%;
	top:33.34%;
	color:#393f3d;
	opacity:0.1;
}
#amount_dividing5
{
	position:absolute;
	right:0%;
	width:100%;
	top:16.67%;
	color:#393f3d;
	opacity:0.1;
}
#amount_dividing6
{
	position:absolute;
	right:0%;
	width:100%;
	top:0%;
	color:#393f3d;
	opacity:0.1;
}
#BC_dividing
{
	position:absolute;
	left:0%;
	width:100%;
	top:110%;
	color:#393f3d;
	border:1px solid;
	opacity:0.4;
}
.pillar
{
	position:absolute;
	bottom:0;
}