#phone
{
	margin-left:105px;
	margin-top:-405px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	#phone
	{
		margin-left:86px;
		margin-top:-332px;
		width:352px;
		height:659px;
	}
}