#label
{
	position:absolute;
	left:50%;
	top:50%; 
	margin-left:-520px;
	margin-top:-207px;
	height:562px;
	background:url("../img/PC/注释4.png") no-repeat;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	#label
	{
		position:absolute;
		left:50%;
		top:50%; 
		margin-left:-426px;
		margin-top:-169px;
		height:460px;
		background:url("../img/iPad/注释4.png") no-repeat;
	}
}