.production
{
	position:absolute;
	height:800px;
	width:100%;
}

#production8
{
	position:absolute;
	height:400px;
	width:100%;
}

#production0
{
	position:absolute;
	width:100%;
}

#footer
{
	position: absolute;
	width:2020px;
	height:400px;
	left:50%;top:50%; 
	margin-left:-1010px;
	margin-top:-200px;
}

#footer_button
{
	position: absolute;
	width:210px;
	height:50px;
	left:50%;top:50%; 
	margin-left:-105px;
	margin-top:24px;
}

.background_img
{
	position: absolute;
	width:2020px;
	height:800px;
	left:50%;top:50%; 
	margin-left:-1010px;
	margin-top:-400px;
}

.move_down
{
	position:absolute;
	left:50%;
	top:150%; 
	animation:move_down 1s;
	-moz-animation:move_down 1s; /* Firefox */
	-webkit-animation:move_down 1s; /* Safari and Chrome */
	-o-animation:move_down 1s; /* Opera */
	animation-delay:1.5s;
	-moz-animation-delay:1.5s; /* Firefox */
	-webkit-animation-delay:1.5s; /* Safari and Chrome */
	-o-animation-delay:1.5s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;  /* Firefox */
	-webkit-animation-fill-mode:forwards; /* Safari and Chrome */
	-o-animation-fill-mode:forwards;  /* Opera */
}

@keyframes move_down
{
	from{top:40%;display:block;}
	to{top:50%;display:block;}	
}

@-moz-keyframes move_down /* Firefox */
{
	from{top:40%;}
	to{top:50%;}	
}

@-webkit-keyframes move_down /* Safari and Chrome */
{
	from{top:40%;}
	to{top:50%;}	
}

@-o-keyframes move_down /* Opera */
{
	from{top:40%;}
	to{top:50%;}	
}

.move_up
{
	position:absolute;
	left:50%;
	top:150%; 
	animation:move_up 1s;
	-moz-animation:move_up 1s; /* Firefox */
	-webkit-animation:move_up 1s; /* Safari and Chrome */
	-o-animation:move_up 1s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;  /* Firefox */
	-webkit-animation-fill-mode:forwards; /* Safari and Chrome */
	-o-animation-fill-mode:forwards;  /* Opera */
}

@keyframes move_up
{
	from{top:60%;}
	to{top:50%;}	
}

@-moz-keyframes move_up /* Firefox */
{
	from{top:60%;}
	to{top:50%;}	
}

@-webkit-keyframes move_up /* Safari and Chrome */
{
	from{top:60%;}
	to{top:50%;}	
}

@-o-keyframes move_up /* Opera */
{
	from{top:60%;}
	to{top:50%;}	
}
			

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	
	.production
	{
		position:absolute;
		height:655px;
		width:100%;
	}
	
	#production8
	{
		position:absolute;
		height:327.5px;
		width:100%;
	}
	
	
	#footer
	{
		position: absolute;
		width:1654px;
		height:328px;
		left:50%;top:50%; 
		margin-left:-827px;
		margin-top:-164px;
	}
	
	.background_img
	{
		position: absolute;
		width:1654px;
		height:655px;
		left:50%;top:50%; 
		margin-left:-827px;
		margin-top:-327.5px;
	}
}