body{
	color: #ffffff;
	font-family: 微软雅黑;
}

#header{
	position: fixed;
	width: 100%;
	overflow:hidden;
	z-index:2038;
}



#header_image{
	position: absolute;
	overflow:hidden;
	width: 100%;
	z-index:2038;
}


#header_button{
	position: absolute;
	overflow:hidden;
	height: 100%;
	top: 0px;
	right: 0px;
	z-index: 2039;
}

.image{
	position: absolute;
	width: 100%;
	
}

#page2_word{
	position: absolute;
	text-align: center;
	width: 80%;
	left: 10%;
	color: RGB(181, 181, 181);
}

#page3_word{
	position: absolute;
	text-align: center;
	width: 80%;
	left: 10%;
	color: RGB(137, 137, 137);
}

.page{
	position: relative;
	width: 100%;
}

.button{
	position: absolute;
	width : 41%;
	bottom : 4%;
}

.title{
	position: absolute;
	width: 100%;
	text-align: center;
	color: #cccccc;
}

.subtitle{
	position: absolute;
	width: 40%;
	color: #666666;
	text-align: left;
}

.compare_words{
	position: absolute;
	color: RGB(137, 137, 137);
	text-align: left;
}

.division_words{
	position: absolute;
	width: 18%;
	color: RGB(137, 137, 137);
	text-align: left;
}