body{
	color: #ffffff;
	font-family: 微软雅黑;
}

#header{
	position: fixed;
	width: 100%;
	overflow:hidden;
	z-index:2038;
}


#footer{
	position: fixed;
	width: 100%;
	bottom: 0px;
	overflow:hidden;
	z-index:2038;
}



#header_image{
	position: absolute;
	overflow:hidden;
	width: 100%;
	z-index:2038;
}


#header_button{
	position: absolute;
	overflow:hidden;
	height: 100%;
	top: 0px;
	right: 0px;
	z-index: 2039;
}

.image{
	position: absolute;
	width: 100%;
	
}

.normal_words{
	position: absolute;
	text-align: center;
	width: 84%;
	left: 8%;
	color: RGB(181, 181, 181);
}



#page6_word{
	position: absolute;
	text-align: center;
	width: 80%;
	left: 10%;
	color: RGB(181, 181, 181);
}

#page8_hint{
	position: absolute;
	text-align: center;
	width: 80%;
	left: 10%;
	color: RGB(70, 70, 70);
}

.page{
	position: relative;
	width: 100%;
}

.button{
	position: absolute;
	width : 41%;
	bottom : 4%;
}

.title{
	position: absolute;
	width: 100%;
	text-align: center;
	color: #cccccc;
}

.subtitle{
	position: absolute;
	width: 40%;
	color: #666666;
	text-align: left;
}

.compare_words{
	position: absolute;
	color: RGB(137, 137, 137);
	text-align: left;
}

.division_words{
	position: absolute;
	width: 18%;
	color: RGB(137, 137, 137);
	text-align: left;
}

.page8_words{
	position: absolute;
	width: 18%;
	color: RGB(200, 200, 200);
	text-align: left;
	left: 69%;
}

#contact{
	position: relative;
	width: 100%;
	color: RGB(137, 137, 137);
	background-color: RGB(238,238,238);
}

#contact_title{
	position: absolute;
	left: 5%;
	width: 40%;
}

#contact_address{
	position: absolute;
	left: 5%;
	top: 24%;
	width: 80%;
}

#curve{
	position: absolute;
	height: 1px;
	width: 90%;
	left: 5%;
	background-color: RGB(209, 209, 209);
}


#copyright{
	position: absolute;
	color: RGB(181, 181, 181);;
	left: 5%;
}

#go_jd{
	position: absolute;
 	border:thin solid #ffffff;
	text-align: center;
}


#blank{
	position: relative;
	width: 100%;
	background-color: #eeeeee;
	height: 100px;
	bottom: 0px;
}

.contact_img{
	position: absolute;
}

