#background
{
	position:absolute;
	overflow:hidden;
}

#small_circle
{
	position:absolute;
	left:35.30%;
	width:35.01%;
	margin-left:-17.55%;
	display:none;
}

#middle_circle
{
	position:absolute;
	left:35.30%;
	width:52.72%;
	margin-left:-26.31%;
	display:none;
}

#big_circle
{
	position:absolute;
	left:35.30%;
	width:67.08%;
	margin-left:-33.54%;
	display:none;
}
#watch_video
{
	position:absolute;
	left:57.42%;
	top:55.5%;
	width:14.85%;
}
#buy_go
{
	position:absolute;
	left:73.76%;
	top:55.5%;
	width:14.85%;
}